@using Microsoft.AspNetCore.Identity
@inject SignInManager<YseraUser> SignInManager
@inject UserManager<YseraUser> UserManager
    <style>
        .text-dark{
           padding-left:5px;
        }
        
    </style>
<ul class="navbar-nav list-unstyled">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register or</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark ps-2" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
